.tablesorter thead tr 
  th {
    border: 1px solid black;}
.tablesorter thead tr 
  th.physchem {
    min-width: 60px;}
  th.tox {
    background-color: #CCFFCC !important}
.tablesorter tbody tr 
  td.physchem {
    min-width: 60px;}
  td.tox {
    background-color: #CCFFCC }
.tablesorter tbody tr.static td {
  background-color: #CCFFCC;
}
