.tablesorter-scroller-bar-spacer {
  background: #eee;
}
.tablesorter-scroller-fixed:after {
  content: '';
  border-right: 1px solid #444;
  width: 1px;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 2;
  right: 0;
}
.tablesorter thead tr 
  th.physchem {
    min-width: 60px;}
  th.tox {
    white-space: nowrap;}
.tablesorter tbody tr 
  td.physchem {
    min-width: 60px;}
  td.tox {
    white-space: nowrap;}
.tablesorter tbody tr.static td {
  background-color: #CCFFCC;
}
