.tablesorter-scroller-bar-spacer {
  background: #eee;
}
.tablesorter-scroller-fixed:after {
  content: '';
  border-right: 1px solid #444;
  width: 1px;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 2;
  right: 0;
  margin: 10px 0 15px;
}
.tablesorter thead tr 
  th {
    border: 1px solid black;}
.tablesorter thead tr 
  th.physchem {
    min-width: 60px;}
  th.tox {
    white-space: nowrap;}
.tablesorter tbody tr 
  td {
    border: 1px solid black;}
.tablesorter tbody tr 
  td.physchem {
    min-width: 60px;}
.tablesorter tbody tr.static td {
  background-color: #CCFFCC;
}
