.tablesorter thead tr 
  th.physchem {
    min-width: 60px;}
  th.tox {
    background-color: #ffcc80 !important}
.tablesorter tbody tr 
  td.physchem {
    min-width: 60px;}
  td.tox {
    background-color: #ffcc80 }
.tablesorter tbody tr.static td {
  background-color: #CCFFCC;
}
